
#header {
	text-align:center;
	display: block;
	font-size: 2em;
	margin-before: 0.67em;
	margin-after: 0.67em;
	margin-start: 0;
	margin-end: 0;
	font-weight: bold; 
    }
	
.footer {
	padding:5px; 
}
	
.footer p {
	text-align:center;
}

#nav table td {
	padding: 14px;
	spacing: 0px;
}

#nav table {
	border-style: none; 
}