h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#BevTitle {
	display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
	text-decoration: underline;
}
}
    #header {
    text-align:center;
	display: block;
	font-size: 2em;
	margin-before: 0.67em;
	margin-after: 0.67em;
	margin-start: 0;
	margin-end: 0;
	font-weight: bold; 
	font-family: 'Slabo 27px', serif;
    }
		#main table{
		width: 100%;
	}
		#main td {
	text-align:center;
	valign:top;
	}
	#main{
		background-color:cornsilk;
	}
	#beverages
	{
		background-color:cornsilk;
	}
	
.footer {
	padding:5px; 
    }
	
.footer p
	{text-align:center;}

#nav table td {
  padding: 14px;
  spacing: 0px;
  
}

#nav table {
		border-style: none; 
}
#nav a:visited {
	  color: Green;
	  
	}
#nav a:hover {
font-weight:bold;

	}
#nav a:active {
		text-decoration: none;
	}